<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @system.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @system.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @system.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @system.address %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @system.phone_no %>
</p>

<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
