<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @computer.age %>
</p>

<p>
  <strong>Place:</strong>
  <%= @computer.place %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @computer.gender %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
