<% @page_title = "UserAuth | Login" -%>
<div class= "Sign_Form">
  <h1>Log in</h1>
 <%= form_for(:log, :url => {:controller => 'logs', :action => 'login_create'}) do |f| %> 

    <p>Username:</br> <%=f.text_field :name %></p> 
    <p>Password:</br> <%=f.password_field :password %></p> 
    <%=f.submit "Log In" %>
  <%end%>
<strong><div class="form"><%=link_to "I Need An Account", logs_signup_path%></div></strong>
</div>

  
